{{define "main"}}

<div class="container">
    <!-- Modal gallery -->
<!-- <section class=""> -->
    <!-- Section: Images -->
    <section class="mt-4">
      <div class="row">
       
        <div class="text-center my-2">
          <h4 class="h4">WORK EXPERIENCE CONT.
          </h4>
          <p>
            CALIBRATION OF PRESSURE TRANSMITTER AND GAUGES ON SAFETY VALVE TEST UNIT (AOSORWELL)
          </p>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/images/gallery/img1.jpg"
              class="w-100" style="height: 400.76px;"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/images/gallery/img2.jpg"
              class="w-100" style="height: 400.76px;"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/images/gallery/img3.jpg"
              class="w-100" style="height: 400.76px;"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/images/gallery/img3.jpg"
              class="w-100" style="height: 467.76px;"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div> -->


        <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/images/gallery/img4.jpg"
              class="w-100" style="height: 400.76px;"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/images/gallery/img5.jpg"
              class="w-100" style="height: 400.76px;"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
        <div class="text-center my-2">
          <p>At AOS Orwell, provision of Engineers and Technicians to Execute Calibration of Gauges and Pressure 
            Transmitters on Ventil Test Unit for Safety Valve and Ventil Test Unit for Valves.</p>
        </div>
        </div>

        <div class="row">
  
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-4 flex-1">
          <div class="text-center my-2">
            <h4 class="h4">HYDRO-TESTING OF LINES
            </h4>
          </div>
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/images/gallery/img7.jpg"
              class="w-100" style="height: 400.76px;"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
          <div class="text-center my-2">
            <h4 class="h4">HYDRO-TESTING OF SPOOLS AT CAKASA
            </h4>
          </div>
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/images/gallery/img8.jpg"
              class="w-100" style="height: 400.76px;"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-lg-4 flex-1">
          <div class="text-center my-2">
            <h4 class="h4">TANK PRESSURE TESTING
            </h4>
          </div>
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/images/gallery/img9.jpg"
              class="w-100" style="height: 400.76px;"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
        </div>

        <div class="row">
  
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
            <div class="text-center my-2">
              <h4 class="h4">TANK CLEANING AND CONFINED SPACE ENTRY
              </h4>
            </div>
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="/images/gallery/img10.jpg"
                class="w-100" style="height: 400.76px;"
              />
              <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="text-center my-2">
              <h4 class="h4">HYDROTESTING OF FABRICATED FLOW LINES AT ALAKIRI FLOWSTATION

              </h4>
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="/images/gallery/img11.jpg"
                  class="w-100" style="height: 400.76px;"
                />
                <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="/images/gallery/img12.jpg"
                  class="w-100" style="height: 400.76px;"
                />
                <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
              </div>
            </div>
          </div>
  

        <!-- <div class="col-lg-4 col-md-12 mb-4 mb-lg-4">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/images/gallery/img11.jpg"
              class="w-100" style="height: 400.76px;"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div> -->

        
    </section>
    <!-- Section: Images -->
  
    
</div>
{{end}}