{{define "main"}}
    <div class="my-3 container">
        <h2 class="mb-2">Jobs History</h2>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Year</th>
                <th scope="col">Company</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">2014</th>
                <td>AOS ORWELL</td>
                <td>
                    <ul>
                        <li>Calibration and Certification of FISHING Gauges</li>
                        <li>Calibration and Certification of WIRELINE Gauges.</li>
                        <li>Calibration and Certification of MACHINE Gauges.</li>
                        <li>Calibration and Certification of Pressure Control Gauges.</li>
                    </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2014</th>
                <td>CENTURY ENERGY SERVICES</td>
                <td>
                    <ul>
                        <li>Maintenance and repair of KLINGER WATER LEVEL SIGHT GLASS and 
                            replacement of glass in required torque application.</li>
                        <li>Test and Certify Klinger Water Level Sight Glass for proper functional operations.</li>
                    </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2015</th>
                <td>BELL OIL AND GAS</td>
                <td>
                    <ul>
                        <li>Fabrication and Construction of 1” Air line and 2” Vacuum Ducting lines in spooling 
                            workshop.</li>
                        <li>Calibration and Certification of Thermo-couple elements, ITT Barton and Pressure 
                            gauges.</li>
                        <li>Modify and test air flow ducting pipes.
                        </li>
                    </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2015</th>
                <td>AOS ORWELL.</td>
                <td>
                    <ul>
                        <li>Inspection and Certification of Air Compressors.</li>
                        <li>Installation of Electrical control panel, pressure control switch and gauges on 
                            compressors.</li>
                        <li>Calibration and recertification of high pressure recorders and gauges in all 
                            departments.</li>
                    </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2016</th>
                <td>AOS ORWELL</td>
                <td>
                    <ul>
                        <li>Calibration and certification of Machine Shop Gauges, Down Hole Tool Gauges and 
                            inspection Air Compressors.</li>
                        <li>Provision of UT measurement on diesel storage tanks,
                            Diesel storage facility modification, repair and pressure test .</li>
                    </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2016</th>
                <td>LTT OIL & GAS</td>
                <td>
                    <ul>
                        <li>Calibration and certification of Pressure Relief Valves.</li>
                        <li>Design and fabrication of Pressure Relief Pneumatic Test bench.</li>
                    </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2016</th>
                <td>AOS ORWELL</td>
                <td>
                    <ul>
                        <li>Calibration of Pressure Transmitter in Pressure Relief Test Bench.</li>
                        <li>Calibration and certification of safety valve test bench transmitters and test gauges.</li>
                        <li>Calibration of Pressure Control Department Pressure Recorders and Gauges.</li>
                    </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2016</th>
                <td>CAKASA NIGERIA COMPANY</td>
                <td>
                  <ul>
                    <li>Pressure Testing and Certification Uremu Flowstation Spools</li>
                    <li>Pressure Testing and Certification of Uzere Flowstation Spools</li>
                    <li>Pressure Testing and Certification of Afiesere Flowstation Spools.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2016</th>
                <td>CHEVRON NIGERIA LIMITED</td>
                <td>
                  <ul>
                    <li>Disposal of rotten wood dunnage from ONNE yard.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2017</th>
                <td>CHEVRON NIGERIA LIMITED</td>
                <td>
                  <ul>
                    <li>Disposal of rotten wood dunnage from ONNE yard.</li>
                    <li>Field calibration and certification of pressure and temperature recoeders.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2017</th>
                <td>AOS ORWELL</td>
                <td>
                  <ul>
                    <li>Calibration of Pressure Transmitter in Pressure Relief Test Bench</li>
                    <li>Calibration of Pressure Control Department Pressure Recorders and Gauges</li>
                    <li>Calibration and certification of Machine Shop Gauges, Down Hole Tool Gauges and 
                      inspection Air Compressors</li>
                    <li>Inspection and Certification of Air Compressors.</li>
                    <li>Installation of Electrical control panel, pressure control switch and gauges on 
                      compressors.</li>
                    <li>Calibration and recertification of high pressure recorders and gauges in all 
                      departments.</li>
                    <li>Calibration and Certification of FISHING Gauges
                    </li>
                    <li>Calibration and Certification of WIRELINE Gauges.
                    </li>
                    <li>Calibration and Certification of MACHINE Gauges.
                    </li>
                    <li>Calibration and Certification of Pressure Control Gauges.
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2017</th>
                <td>CAKASA COMPANY NIGERIA, EROTON NIG LTD.</td>
                <td>
                  <ul>
                    <li>Pressure Testing of Flow Laboratory Hoses.
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2017</th>
                <td>LTT OIL & GAS</td>
                <td>
                  <ul>
                    <li>Calibration and certification of Pressure Relief Valves.
                    </li>
                    <li>Repair and maintenance of pneumatic pressure test pumps. 
                    </li>
                    <li>Calibration of pressure recorders and gas booster pumps.
                    </li>
                    <li>Design and built pneumatic PSV test benches.
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2018</th>
                <td>AOS ORWELL</td>
                <td>
                  <ul>
                    <li>Calibration of Pressure Transmitter in Pressure Relief Test Bench
                    </li>
                    <li>Calibration of Pressure Control Department Pressure Recorders and Gauges
                    </li>
                    <li>Calibration and certification of Machine Shop Gauges, Down Hole Tool Gauges.
                    </li>
                    <li>Inspection and Certification of Air Compressors.
                    </li>
                    <li>Installation of Electrical control panel, pressure control switch and gauges on 
                      compressors.</li>
                    <li>Calibration and recertification of high pressure recorders and gauges in all 
                      departments.</li>
                    <li>Calibration and Certification of FISHING Gauges
                    </li>
                    <li>Calibration and Certification of WIRELINE Gauges.
                    </li>
                    <li>Calibration and Certification of MACHINE Gauges.
                    </li>
                    <li>Calibration and Certification of Pressure Control Gauges.
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2018</th>
                <td>CAKASA NIGERIA COMPANY, EROTON NIG LTD.</td>
                <td>
                  <ul>
                    <li>Hydro static Testing and Certification of Alakiri Flowstation fabricated flow lines.
                    </li>
                    <li>Hydro static Testing and Certification of Cawthorne Channel Flowstation fabricated 
                      flow lines.
                      </li>
                    <li>Hydro static Testing and Certification of Bille Flowstation fabricated flow lines.
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2018</th>
                <td>BELL OIL & GAS</td>
                <td>
                  <ul>
                    <li>Calibration and Certification of Pressure Control Gauges.
                    </li>
                    <li>Fabrication and welding of air ducting flowlines in flow lab.
                    </li>
                    <li>Pressure testing and Commissioning of the ducting flow lines.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2018</th>
                <td>LEKOIL NIG. LTD, GREENFIELD ENERGY, OTAKIKPO JV</td>
                <td>
                  <ul>
                    <li>Supply of spare parts for chemical injection pumps
                    </li>
                    <li>GATXUWWYDFFHN4SK64F6H3X6UVUCRGMR6BXJ4JAPT2MMG5QI5VRQLQNE</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2019</th>
                <td>AOS ORWELL</td>
                <td>
                  <ul>
                    <li>Calibration of Pressure Transmitter in Pressure Relief Test Bench
                    </li>
                    <li>Calibration of Pressure Control Department Pressure Recorders and Gauges
                    </li>
                    <li>Calibration and certification of Machine Shop Gauges, Down Hole Tool Gauges and 
                      inspection Air Compressors                      
                    </li>
                    <li>Inspection and Certification of Air Compressors.
                    </li>
                    <li>Installation of Electrical control panel, pressure control switch and gauges on 
                      compressors.</li>
                    <li>Calibration and recertification of high pressure recorders and gauges in all 
                      departments.
                      </li>
                    <li>Calibration and Certification of FISHING Gauges
                    </li>
                    <li>Calibration and Certification of WIRELINE Gauges.
                    </li>
                    <li>Calibration and Certification of MACHINE Gauges.
                    </li>
                    <li>Calibration and Certification of Pressure Control Gauges.
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2019</th>
                <td>ENVITE NIGERIA LTD</td>
                <td>
                  <ul>
                    <li>Calibration and certification of Pressure Relief Valves.
                    </li>
                    <li>Design and fabrication of Pressure Relief Pneumatic Test bench.
                    </li>
                    <li>Design and fabrication of hydro test panel. `
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2020</th>
                <td>AOS ORWELL</td>
                <td>
                  <ul>
                    <li>Calibration and certification of Pressure Relief Valves.
                    </li>
                    <li>Repair and maintenance of pneumatic Hydraton pressure test pumps. 
                    </li>
                    <li>Calibration of pressure recorders and gas booster pumps.
                    </li>
                    <li>Calibration and certification pneumatic PSV test bench gauges and transmitters.</li>
                  </ul>
                </td>
              </tr>
              <!-- <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr> -->
            </tbody>
          </table>
    </div>
{{end}}