
<div class="container my-4">
    <center><h2 class="h2">Our Partners</h2></center>
    
    <center>
        <div class="row">
            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/cakasa.png" alt="cakasa" height="150" width="150">
            </div>
    
        <!-- <div class="row"> -->
            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/century energy.png" alt="century energy" height="150" width="150">
            </div>

            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/belemaoil.png" alt="" height="150" width="150">
            </div>

            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/sgs.png" alt="century energy" height="150" width="150">
            </div>

            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/supanova.png" alt="century energy" height="150" width="150">
            </div>

            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/tenaris.png" alt="century energy" height="150" width="150">
            </div>

            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/lekoil.png" alt="century energy" height="150" width="150">
            </div>

            <!-- <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/GEIL.png" alt="century energy" height="150" width="150">
            </div> -->

            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/chevron.jfif" alt="century energy" height="150" width="150">
            </div>

            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/aos.jfif" alt="century energy" height="150" width="150">
            </div>

            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/download.jfif" alt="century energy" height="150" width="150">
            </div>

            <div class="col-lg-2 col-md-12 mb-4 mb-lg-4" style="width: 16%;">
                <img src="/images/logos/ewt.png" alt="century energy" height="150" width="150">
            </div>
        </div>
    </center>
</div>